<!doctype html>
<html lang="en" xmlns:th="https://www.thymeLeaf.com">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Hello, world!</title>
    <link rel="stylesheet" href= "https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
    <style>
 
    </style>
  </head>
  <body>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">

        <div class="container-fluid">
          <a class="navbar-brand text-white" style="font-size: 35px; font-family: Georgia, 'Times New Roman', Times, serif;" 
          href="#">Book Detailer</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item me-4">
                <a class="nav-link active text-white" style="font-size: 30px;"
                 aria-current="page" href="/"><i class="bi bi-house"></i>Home</a>
              </li>
              <li class="nav-item me-4">
                <a class="nav-link text-white"style="font-size: 30px;" href="Availablebooks">
                  <i class="bi bi-search"></i>Available books</a>
              </li>
              <li class="nav-item me-4">
                <a class="nav-link text-white"style="font-size: 30px;" href="my_books">
                  <i class="bi bi-bag-check"></i>my books</a>
              </li>
            </ul>
           <div>
            <a class="nav-link text-white"style="font-size: 30px;" href="newbook">
              <i class="bi bi-plus-circle"></i>new register</a>
           </div>
          </div>
        </div>
      </nav>
      <section class="container mt-5">
       
        <div class="row justify-content-center">
             <div class="col-md-16">
                <div class="card p-4 m-5">
                 <div class="card-header text-center fs-1">✨✨✨Welcome to Our Finance Manager✨✨✨</div>
                    <div class="card-body">
                        <p class="content-text fs-3">
                            R Systems is a leading digital product engineering company that designs and develops chip-to-cloud software products, platforms, and digital experiences that empower its clients to achieve higher revenues and operational efficiency. Our product mindset and engineering capabilities in Cloud, Data, AI, and CX enable us to serve key players in the high-tech industry, including ISVs, SaaS, and Internet companies, as well as product companies in telecom, media, finance, manufacturing, and health verticals.
                            <br><br>
                            Further, R Systems uses its expertise in automation and integration including RPA and No-Code-Low-Code platforms to help enterprises across these verticals achieve their OKRs. We deliver this by helping them digitize entire value chains and infuse intelligent automation. We also partner with software vendors like, AWS, Google, Salesforce, Microsoft, Boomi, UiPath, and others to craft domain-specific solutions to accelerate the time-to-value and deliver exceptional customer experience (CX).
                            <br><br>
                            We have constantly innovated over 3 decades through applied R&D to solve real-life problems. Our 4300+ technology experts across our delivery centers in India and Eastern Europe use our deep understanding of business domains and customer use cases to apply the latest technology stacks in cloud, automation, AI, ML, analytics, and mixed reality.
                            <br><br>
                            R Systems corporate social responsibility extends to all communities in societies where we exist. Our endeavors to make a positive impact through our CSR activities are focused on education, health & community development.
                            <br><br>
                            Our growing team is spread across 18 development centers and 25 offices in North America, Europe, and Asia Pacific.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>